.HeaderWindowControls {
  display: flex;
  margin-left: 20px;
  -webkit-app-region: no-drag;

  --icon-color: var(--base-color);

  white-space: nowrap;
}

.HeaderWindowControls-button {
  display: flex;
  width: 46px;
  height: 36px;

  background: none;
  border: none;
  
  appearance: none;
  -webkit-appearance: none;

  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.HeaderWindowControls-button:hover {
  background: var(--base-color--shade);
}

.HeaderWindowControls-button--close:hover {
  background: #DE061A;
  --icon-color: white;
}

.HeaderWindowControls-button .Icon {
  transform: scale(0.8);
}