.Header {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  height: 36px;

  padding: 0 8px 0 20px;
  box-sizing: border-box;

  flex-shrink: 0;

  align-items: center;
  justify-content: space-between;

  -webkit-app-region: drag;

  z-index: 2;
}

/*
Add an extra margin when running
on macOS in order to leave space
for the traffic light
*/
.Header.has-leftMargin {
  padding-left: 85px;
}

.Header-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.Header-block {
  display: flex;
  align-items: center;
}

.Header-actionSection {
  margin-right: 55px;
}

.Header-button.Header-sharingBtn {
  width: 40px;
  padding: 0 1.3em 0 1em;
  color: var(--base-color);
  font-family: var(--base-fontFamily--primary);
}

.Header-button.Header-roleBtn {
  width: auto;
  padding: 0 7px 0 0;

  border: 1px solid var(--base-color--shade);

  white-space: nowrap;
  overflow: hidden;
}

.Header-button.Header-roleBtn::before {
  content: '';
  height: 100%;
  width: 6px;

  margin-right: 7px;

  background: var(--base-color--shade);
}

.Header-button.Header-roleBtn.is-main::before {
  background: var(--base-color--accent1);
}

.Header-button {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;

  margin-left: 7px;
  border: none;

  color: inherit;
  font-size: 1em;
  font-family: var(--base-fontFamily--primary);

  background: none;

  align-items: center;
  justify-content: center;

  border-radius: 7px;
  overflow: hidden;
}

.Header-button:not(.is-active):hover {
  background: var(--base-color--shade);
  opacity: 0.7;
}

.Header-button.is-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--base-color--accent1);
  opacity: 0.15;
}

.Header-button.is-active:hover {
  opacity: 0.7;
}