.Header {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  height: 39px;

  padding: 0 15px 0 20px;
  box-sizing: border-box;

  border-bottom: 1px solid var(--base-color--shade);

  align-items: center;
  justify-content: space-between;

  -webkit-app-region: drag;
}

/*
Add an extra margin when running
on macOS in order to leave space
for the traffic light
*/
.Header.has-leftMargin {
  padding-left: 85px;
}

.Header-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.Header-block {
  display: flex;
  align-items: center;
}

.Header-connections {
  position: relative;
  display: flex;

  margin-right: 30px;
  padding-left: 1.8em;

  align-items: center;
  opacity: 0.6;
}

.Header-connectionsIcon {
  width: 25px;
  height: 25px;
}

.Header-button {
  width: 25px;
  height: 25px;

  margin-left: 10px;
  border: none;

  background: none;
}
