

.Modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  pointer-events: none;
  
  background: rgba(0, 0, 0, 0.6);
  color: var(--base-color);

  z-index: 10;

  align-items: center;
  justify-content: center;

  opacity: 0;

  transition: 0.1s;
}

/*
If the modal is supposed to not
have any shade,

remove the background and add a
slight box shadow instead
*/
.Modal.has-noShade {
  background: none;
}

.Modal.has-noShade .Modal-content {
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.5);
}

.Modal.is-open {
  opacity: 1;
  pointer-events: all;
}

.Modal-wrapper {
  display: block;
  position: relative;

  width: calc(100% - 20px);
  max-width: 960px;

  height: calc(100% - 150px);
  max-height: 700px;
}

.Modal--small .Modal-wrapper {
  max-width: 650px;
  max-height: 500px;
}

.Modal--auto .Modal-wrapper {
  width: auto;
  height: auto;
}

.Modal-content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  text-align: center;

  border-radius: 15px;
  background: var(--base-color--background);

  box-sizing: border-box;

  transform: translate(0, 10px);
  transition: 0.2s;

  overflow: hidden;
}

.Modal.is-open .Modal-content {
  transform: translate(0, 0);
}

.Modal.is-draggable .Modal-content {
  padding-top: 20px;
}

.Modal-handle {
  position: absolute;
  width: 100%;
  height: 20px;

  top: 0;

  cursor: move;
}

.Modal h1 {
  font-size: 1.5em;
}