version: '3.9'
services:
  app:
    build: .
    command: npm run nodemon
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development
      - PORT=3000
      - APP_DATA_BASE_PATH=../data
    ports:
      - 3000:3000
      - 9229:9229