<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>bridge</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>media/appicon.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>text/plain</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Bridge workspace</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
    </array>
  </dict>
</plist>