

.GridItem {
  width: 100%;
  height: 100%;
  background: var(--base-color--background1);
}

.GridItem.is-editing {
  box-shadow: inset 0 0 0 1px var(--base-color--shade);
}

.GridItem.is-editing .GridItem-content {
  opacity: 0.4;
  pointer-events: none;
}

.GridItem-content {
  position: relative;
  width: 100%;
  height: 100%;
}