.Tabs-bar {
  display: flex;
  position: relative;
  width: 100%;
}

.Tabs-tab {
  width: 100%;
  max-width: 250px;
}

.Tabs-filler {
  width: 100%;
}

.Tabs-tab,
.Tabs-filler {
  position: relative;

  padding: 0.5em;

  text-align: center;
  box-sizing: border-box;

  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--base-color--shade);
}

.Tabs-tab.is-active {
  border-bottom: none;
}

.Tabs-tab.is-active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;

  left: 0;
  top: 0;

  border-radius: 5px;
  background: var(--base-color--accent1);
}

.Tabs-tab:active {
  background: var(--base-color--shade);
  opacity: 0.5;
}

.Tabs-tab:hover .Tabs-tabCloseBtn {
  opacity: 1;
}

.Tabs-tabCloseBtn {
  position: absolute;
  left: 3px;
  top: 50%;
  width: 1.8em;
  height: 1.8em;

  transform: translate(0, -50%);

  border: none;
  background: none;

  background-image: url('../../assets/icons/close.svg');
  background-size: contain;
  background-position: center;

  opacity: 0;
  transition: 0.1s;
}