.Tabs-bar {
  display: flex;
  position: relative;
  width: 100%;

  overflow-x: scroll;
}

.Tabs-tab {
  width: 100%;
  max-width: 250px;
}

.Tabs-filler {
  width: 100%;
  flex-shrink: 2;
}

.Tabs-tab.is-draggedOver,
.Tabs-filler.is-draggedOver {
  background: var(--base-color--shade);
}

.Tabs-tab,
.Tabs-filler {
  position: relative;

  padding: 0.5em;

  text-align: center;
  box-sizing: border-box;

  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--base-color--shade);
}

.Tabs-tab.is-active {
  border-bottom: none;
}

.Tabs-tab.is-active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;

  left: 0;
  top: 0;

  border-radius: 5px;
  background: var(--base-color--accent1);
}

.Tabs-tab:active {
  background: var(--base-color--shade);
  opacity: 0.5;
}

.Tabs-tab:hover .Tabs-tabCloseBtn {
  opacity: 1;
}

.Tabs-tabCloseBtn,
.Tabs-tabCreateBtn {
  border: none;
  background: none;
  background-size: contain;
  background-position: center;
}

.Tabs-tabCloseBtn {
  position: absolute;
  left: 3px;
  top: 50%;
  width: 1.8em;
  height: 1.8em;

  transform: translate(0, -50%);

  background-image: url('../../assets/icons/close.svg');

  opacity: 0;
  transition: 0.1s;
}

.Tabs-actions {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  border-bottom: 1px solid var(--base-color--shade);

  flex-shrink: 0;
}

.Tabs-tabCreateBtn {
  width: 2em;
  height: 2em;
  background-image: url('../../assets/icons/add.svg');
}