.Tabs {
  display: flex;

  width: 100%;
  height: 100%;

  flex-direction: column;
  overflow: hidden;
}

.Tabs-bar {
  display: flex;
  position: relative;
  width: 100%;

  padding: 0 3px;

  flex-shrink: 0;

  box-sizing: border-box;
  overflow-x: scroll;
}

.Tabs-tab {
  width: 100%;
  max-width: 200px;
}

.Tabs-tab.is-draggedOver,
.Tabs-filler.is-draggedOver {
  background: var(--base-color--shade);
}

.Tabs-tab {
  position: relative;

  margin: 2px;
  padding: 0.5em;

  text-align: center;
  box-sizing: border-box;

  background: var(--base-color--shade1);

  border-radius: 5px;
  overflow: hidden;
}

.Tabs-filler {
  position: relative;
  width: 100%;
  flex-shrink: 2;
}

.Tabs-tab.is-active {
  box-shadow: inset 0 0 1px var(--base-color--shade);
}

.Tabs-tab.is-active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;

  left: 0;
  bottom: 0;

  border-radius: 5px;
  background: var(--base-color--accent1);
}

.Tabs-tab:active {
  background: var(--base-color--shade);
  opacity: 0.5;
}

.Tabs-tab:hover .Tabs-tabCloseBtn {
  opacity: 1;
}

.Tabs-tabCloseBtn,
.Tabs-tabCreateBtn {
  border: none;
  background: none;
  background-size: contain;
  background-position: center;
}

.Tabs-tabCloseBtn {
  position: absolute;
  left: 3px;
  top: 50%;
  width: 1.8em;
  height: 1.8em;

  transform: translate(0, -50%);

  opacity: 0;
  transition: 0.1s;
}

.Tabs-actions {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  flex-shrink: 0;
}

.Tabs-tabCreateBtn {
  width: 2em;
  height: 2em;

  border-radius: 5px;
  background: var(--base-color--shade);
}

.Tabs-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}