.BrowserComponent {
  width: 100%;
  height: 100%;
}

.BrowserComponent-header {
  width: 100%;
}

.BrowserComponent-container {
  width: 100%;
}

.BrowserComponent-frameContainer,
.BrowserComponent-frame {
  width: 100%;
  height: 100%;
  border: none;
}