.Footer {
  position: sticky;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 24px;

  border-top: 1px solid var(--base-color--shade1);
  box-sizing: border-box;

  flex-shrink: 0;

  align-items: center;
  justify-content: space-between;
}

.Footer-block {
  display: flex;
  align-items: center;
}

.Footer-actionSection {
  margin-right: 10px;
}

.Footer-button.Footer-sharingBtn {
  width: 40px;
  padding: 0 1.3em 0 1em;
  color: var(--base-color);
  font-family: var(--base-fontFamily--primary);
}

.Footer-button.Footer-roleBtn {
  width: auto;
  padding: 0 7px 0 0;

  white-space: nowrap;
  overflow: hidden;
}

.Footer-button.Footer-roleBtn::before {
  content: '';
  height: 100%;
  width: 12px;

  margin-right: 7px;

  background: var(--base-color--shade1);
}

.Footer-button.Footer-roleBtn.is-main::before {
  background: var(--base-color--accent1);
}

.Footer-button {
  display: flex;
  position: relative;
  min-width: 32px;
  height: 24px;

  border: none;

  color: inherit;
  font-size: 0.8em;
  font-family: var(--base-fontFamily--primary);

  background: none;

  align-items: center;
  justify-content: center;

  -webkit-app-region: no-drag;

  overflow: hidden;
}

.Footer-button:not(.is-active):hover {
  background: var(--base-color--shade1);
  opacity: 0.7;
}

.Footer-button.is-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--base-color--accent1);
  opacity: 0.15;
}

.Footer-button.is-active:hover {
  opacity: 0.7;
}