.Preferences-repeatingPreferenceInputs {
  padding: 2px;
  border-radius: 6px;
  background: var(--base-color--shade1);
}

.Preferences-repeatingPreferenceInstance {
  margin: 3px;
  border-radius: 6px;
  background: var(--base-color--background);
}