/*
 * SPDX-FileCopyrightText: 2022 Sveriges Television AB
 *
 * SPDX-License-Identifier: MIT
 */

.Layout--master {
  display: flex;
  width: 100%;
}

.Layout--master-main,
.Layout--master-sidebar {
  overflow-y: scroll;
}

.Layout--master-sidebar {
  width: 250px;
  padding: 20px;

  border-right: 1px solid var(--base-color--shade);

  text-align: left;
}

.Layout--master-main {
  width: 100%;
  padding: 20px;

  flex: 1;
}