.ContextMenuItem {
  position: relative;
  padding: 0.2em;
}

.ContextMenuItem:focus .ContextMenuItem-text {
  box-shadow: inset 0 0 0 2px var(--base-color--shade);
}

.ContextMenuItem-text {
  padding: 0.4em 0.5em;
  border-radius: 4px;

  font-size: 0.9em;

  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;
}

.ContextMenuItem .Icon {
  position: absolute;
  top: 50%;
  right: 7px;

  transform: translate(0, -50%);
}

.ContextMenuItem:hover > .ContextMenuItem-text,
.ContextMenuItem.is-hovered > .ContextMenuItem-text {
  background: var(--base-color--shade);
}

.ContextMenuItem:active > .ContextMenuItem-text {
  box-shadow: 2px solid var(--base-color--shade3);
}