.ContextMenuItem {
  position: relative;
  padding: 0.2em;
}

.ContextMenuItem-text {
  padding: 0.4em 0.5em;
  border-radius: 4px;

  font-size: 0.95em;

  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;
}

.ContextMenuItem .Icon {
  position: absolute;
  top: 50%;
  right: 7px;

  transform: translate(0, -50%);

  --base-color: black;
}

.ContextMenuItem:hover > .ContextMenuItem-text {
  background: rgb(228, 228, 228);
}

.ContextMenuItem:active > .ContextMenuItem-text {
  background: rgb(211, 211, 211);
}