@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 700;
  src: url("./JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  font-weight: 700;
  src: url("./JetBrainsMono-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 400;
  src: url("./JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  font-weight: 400;
  src: url("./JetBrainsMono-Italic.woff2") format("woff2");
}
