.Role {
  width: 300px;

  text-align: left;
  font-size: 1em;
  color: var(--base-color);
}

.Role-content {
  padding: 10px;
  box-sizing: border-box;
}

.Role-content .Button {
  margin-top: 10px;
}

.Role-info {
  margin: 5px;
}

.Role-status {
  margin-top: 10px;
  opacity: 0.7;
}