.SegmentedControl {
  display: inline-block;
  padding: 4px;

  border-radius: 8px;
  background: var(--base-color--shade2);
  white-space: nowrap;
}

.SegmentedControl-segment {
  display: inline-block;
  padding: 0.75em 1em;
  color: var(--base-color);

  border-radius: 5px;
}

.SegmentedControl-segment.is-active {
  background: var(--base-color--background1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}