/*
This file is bundled with the application
as well as separately for widgets to include
*/

@import "./fonts.css";

html, body, #root {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: var(--base-fontFamily--primary);
  color: var(--base-color);
}

* {
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*.u-selectable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/*
Style the scrollbars on all
non-macOS platforms to make them
more subtle
*/
html:not([data-platform="darwin"]) *::-webkit-scrollbar {
  width: 7px;
}

html:not([data-platform="darwin"]) *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 transparent;
}

html:not([data-platform="darwin"]) *::-webkit-scrollbar-thumb {
  background-color: var(--base-color--shade1);
  border-radius: 10px;
  outline: none;
}

a, .Link {
  padding: 0;

  color: inherit;
  font-size: 1em;
  text-decoration: underline;

  border: none;
  background: none;

  cursor: pointer;
}

/* Buttons */

button {
  padding: 0;
}

.Button,
.Button--primary,
.Button--secondary,
.Button--tertiary,
.Button--ghost,
select {
  padding: 0.8em 1.5em;

  font-size: 1em;
  font-family: var(--base-fontFamily--primary);
  text-decoration: none;

  border: none;
  border-radius: 50px;

  color: var(--base-color--accent3);
  background: var(--base-color--accent2);

  cursor: default;
  white-space: nowrap;
}

.Button:active,
.Button--primary:active,
.Button--secondary:active,
.Button--tertiary:active,
.Button--ghost:active{
  box-shadow: inset 0 0 0 2px var(--base-color--shade);
}

.Button--secondary {
  color: var(--base-color);
  background: var(--base-color--grey1);
}

.Button--tertiary {
  color: var(--base-color);
  background: var(--base-color--grey3);
}

.Button--ghost {
  color: var(--base-color);
  background: none;
  border: 1px solid var(--base-color--shade);
}

.Button--small {
  width: 2em;
  height: 2em;

  border: none;
  background: none;
}

select {
  color: inherit;
  border: 1px solid var(--base-color--shade);
  background: none;

  -webkit-appearance: none;
  appearance: none;

  box-sizing: border-box;
}

.Select--small {
  padding: 0.4em 1em;
}

/* Headings */

h2, .u-heading--2 {
  margin: 0.4em 0;
  font-size: 1.2em;
  font-weight: 500;
}

h3, .u-heading--3 {
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: 500;
}

h4, .u-heading--4 {
  margin: 0.2em 0;
}

/* Inputs */

textarea,
input {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

input[type="tel"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
textarea {
  padding: 0.75em 0.6em;

  font-size: 1em;
  font-family: var(--base-fontFamily--primary);

  border: none;
  border-radius: 8px;

  color: var(--base-color);
  background: var(--base-color--shade2);

  box-sizing: border-box;
}

input[type="tel"]:focus,
input[type="date"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: inset 0 0 0 1px var(--base-color--shade);
}

input[type="search"] {
  font-family: 'Bridge Glyphs', var(--base-fontFamily--primary);
}

input[type="checkbox"] {
  display: inline-block;
  position: relative;
  padding: 0.2em 0;

  width: 40px;
  height: 1.1em;

  margin-right: 10px;

  background: var(--base-color--grey1);
  border-radius: 50px;

  vertical-align: bottom;

  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 1.5em;
  height: 1.5em;

  background: var(--base-color--grey3);

  border-radius: 50px;
  box-shadow: 0 0 0 2px var(--base-color--background);

  transform: translate(0, -50%);
  transition: 0.2s;
}

input[type="checkbox"]:active::before {
  background: var(--base-color--grey3);
}

input[type="checkbox"]:checked::before {
  background: var(--base-color--accent1);
  transform: translate(100%, -50%);
}

/* Labels */

.u-text--label {
  font-size: 0.9em;
  font-weight: 500;

  opacity: 0.5;
  text-transform: uppercase;
}