/*
This file is bundled with the application
as well as separately for widgets to include
*/

@import "./fonts.css";

html, body, #root {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: var(--base-fontFamily--primary);
  color: var(--base-color);
}

* {
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-feature-settings: "tnum";
}

*.u-selectable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/*
Style the scrollbars on all
non-macOS platforms to make them
more subtle
*/
html:not([data-platform="darwin"]) *::-webkit-scrollbar {
  width: 7px;
}

html:not([data-platform="darwin"]) *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 transparent;
}

html:not([data-platform="darwin"]) *::-webkit-scrollbar-thumb {
  background-color: var(--base-color--shade);
  border-radius: 10px;
  outline: none;
}

a, .Link {
  padding: 0;

  color: inherit;
  font-size: 1em;
  text-decoration: underline;

  border: none;
  background: none;

  cursor: pointer;
}

/* Buttons */

button {
  padding: 0;
}

.Button,
.Button--accent,
.Button--primary,
.Button--secondary,
.Button--ghost {
  padding: 0.9em 1.5em;

  font-size: 1em;
  font-family: var(--base-fontFamily--primary);
  text-decoration: none;

  border: none;
  border-radius: 12px;

  box-shadow: inset 0 0 0 1px var(--base-color--shade), 0 2px 5px rgba(0, 0, 0, 0.07);

  color: var(--base-color);
  background: inherit;

  cursor: default;
  white-space: nowrap;

  transition: box-shadow 0.2s;
}

.Button:active,
.Button--accent:active,
.Button--primary:active,
.Button--secondary:active,
.Button--ghost:active{
  opacity: 0.8;
  box-shadow: inset 0 0 0 1px var(--base-color--shade), 0 2px 4px transparent;
}

.Button--accent {
  color: var(--base-color--accent2);
  background: var(--base-color--accent1);
}

.Button--ghost {
  color: var(--base-color);
}

.Button--small {
  display: inline-flex;
  padding: 0.5em 0.75em;

  align-items: center;
  justify-content: center;
}

.Button:disabled {
  opacity: 0.6;
}

/* Headings */

h1, .u-heading--1 {
  margin: 0.4em 0;
  font-size: 1.6em;
}

h2, .u-heading--2 {
  margin: 0.4em 0;
  font-size: 1.2em;
  font-weight: 500;
}

h3, .u-heading--3 {
  margin: 0.5em 0;
  font-size: 1em;
  font-weight: 500;
}

h4, .u-heading--4 {
  margin: 0.2em 0;
}

/* Inputs */

textarea,
input {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

input[type="tel"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
textarea {
  padding: 0.75em 0.6em;

  font-size: 1em;
  font-family: var(--base-fontFamily--primary);

  border: none;
  border-radius: 8px;

  color: var(--base-color);
  background: var(--base-color--shade2);
  box-shadow: inset 0 0 0 1px var(--base-color--shade2);

  box-sizing: border-box;
}

input[type="tel"]:focus,
input[type="date"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: inset 0 0 0 1px var(--base-color--shade);
}

input[type="search"] {
  font-family: 'Bridge Glyphs', var(--base-fontFamily--primary);
}

input[type="checkbox"] {
  display: inline-block;
  position: relative;
  padding: 0.2em 0;

  width: 40px;
  height: 1.1em;

  margin-right: 10px;

  background: var(--base-color--grey1);
  border-radius: 50px;

  vertical-align: bottom;

  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 1.5em;
  height: 1.5em;

  background: var(--base-color--grey3);

  border-radius: 50px;
  box-shadow: 0 0 0 2px var(--base-color--background);

  transform: translate(0, -50%);
  transition: 0.2s;
}

input[type="checkbox"]:active::before {
  background: var(--base-color--grey3);
}

input[type="checkbox"]:checked::before {
  background: var(--base-color--accent1);
  transform: translate(100%, -50%);
}

select {
  padding: 0.8em 1.3em 0.8em 1em;

  color: inherit;
  font-size: 1em;
  font-family: var(--base-fontFamily--primary);

  border: 1px solid var(--base-color--shade);
  border-radius: 8px;
  
  background: url('./assets/icons/arrow-down.svg') no-repeat right 10px center var(--base-color--shade2);

  -webkit-appearance: none;
  appearance: none;

  box-sizing: border-box;
}

.Select--small {
  padding: 0.4em 0.75em;
}

select:focus {
  background: url('./assets/icons/arrow-down.svg') no-repeat right 10px center var(--base-color--background);
}

/* Labels */

.u-text--label {
  display: inline-block;
  margin: 0.1em 0;
  font-size: 0.8em;
  text-transform: uppercase;

  opacity: 0.7;
}

/* Hints */

[data-hint] {
  position: relative;
}

[data-hint]:hover::before {
  content: attr(data-hint);
  position: absolute;
  top: 0;
  left: 0;

  padding: 5px 9px;

  color: black;
  background: white;
  border-radius: 6px;

  white-space: nowrap;

  transform: translate(0, 5px);
  z-index: 10;
}

[data-hint-alignment="right"]:hover::before {
  transform: translate(-100%, 5px);
}

/* Loader */

.Loader {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.Loader::after {
  content: '';
  position: relative;

  width: 50px;
  height: 50px;

  background-color: var(--base-color);

  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('./assets/icons/spinner.svg');
  -webkit-mask-size: 90%;

  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: url('./assets/icons/spinner.svg');
  mask-size: 90%;

  animation-name: Loader-spinner;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes Loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Warning */

.Warning {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.Warning::after {
  content: '';
  position: relative;

  width: 50px;
  height: 50px;

  background-color: var(--base-color);

  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url('./assets/icons/warning.svg');
  -webkit-mask-size: 90%;

  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: url('./assets/icons/warning.svg');
  mask-size: 90%;
}
