

@import "./theme.css";
@import "./bridge.css";

html, body, #root {
  height: 100%;
  min-height: 100vh;
}

body {
  background: var(--base-color--background);
}

body.is-transparent {
  background: var(--base-color--background2);
}

#root {
  display: flex;
  flex-direction: column;
}

.View-component {
  display: contents;
}

/* Text */

.u-textAlign--center {
  text-align: center;
}

/* Size */

.u-width--100pct {
  width: 100%;
}
