@import "./theme.css";
@import "./bridge.css";

html, body, #root {
  background: var(--base-color--background);
}

#root {
  display: flex;
  flex-direction: column;
}

/* Text */

.u-textAlign--center {
  text-align: center;
}

.u-text--label {
  font-size: 0.9em;
  font-weight: 500;

  opacity: 0.5;
  text-transform: uppercase;
}
