.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Icon svg [stroke]:not([stroke='none']) {
  stroke: var(--base-color);
}

.Icon svg [fill]:not([fill='none']) {
  fill: var(--base-color);
}