.Icon {
  display: flex;
  align-items: center;
  justify-content: center;

  --Icon-color: var(--base-color);
}

.Icon:not(.Icon--originalColors) svg [stroke]:not([stroke='none']) {
  stroke: var(--Icon-color);
}

.Icon:not(.Icon--originalColors) svg [fill]:not([fill='none']) {
  fill: var(--Icon-color);
}