.GridEmptyContent {
  position: absolute;
  display: flex;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  text-align: center;
  
  align-items: center;
  justify-content: center;
  
  z-index: 1;
}

.GridEmptyContent-actions {
  margin-top: 20px;
}