/*
 * SPDX-FileCopyrightText: 2022 Sveriges Television AB
 *
 * SPDX-License-Identifier: MIT
 */

.MissingComponent {
  display: flex;
  width: 100%;
  height: 100%;

  text-align: center;
  align-items: center;
}

.MissingComponent-container {
  width: 100%;
}

.MissingComponent-heading {
  margin: 10px 0 3px;
  font-weight: 600;
}