.FrameComponent {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  flex-direction: column;

  overflow: hidden;
}

.FrameComponent.is-focused::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  box-shadow: inset 0 0 0 1px var(--base-color--accent3);

  pointer-events: none;
  z-index: 1;
}

.FrameComponent-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 30px;

  padding: 0 10px;

  font-size: 0.9em;
  opacity: 0.7;

  flex-shrink: 0;

  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
}

.FrameComponent-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.FrameComponent-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.FrameComponent-headerButtons {
  margin-right: -10px;
}

.FrameComponent-headerButton {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;

  margin-left: 7px;
  border: none;

  color: inherit;
  font-size: 1em;
  font-family: var(--base-fontFamily--primary);

  background: none;

  align-items: center;
  justify-content: center;

  -webkit-app-region: no-drag;

  transform: scale(0.8);

  border-radius: 7px;
  overflow: hidden;
}

.FrameComponent-headerButton:not(.is-active):hover {
  background: var(--base-color--shade);
  opacity: 0.7;
}

.FrameComponent-headerButton.is-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--base-color--accent1);
  opacity: 0.15;
}