/*
 * SPDX-FileCopyrightText: 2022 Sveriges Television AB
 *
 * SPDX-License-Identifier: MIT
 */

.FrameComponent {
  position: relative;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
}

.FrameComponent-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}
