.FrameComponent {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  flex-direction: column;

  overflow: hidden;
}

.FrameComponent.is-focused::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  box-shadow: inset 0 0 0 1px var(--base-color--accent4);

  pointer-events: none;
  z-index: 1;
}

.FrameComponent-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;

  padding: 0 10px;

  font-size: 0.9em;
  opacity: 0.7;

  align-items: center;
  box-sizing: border-box;
}

.FrameComponent-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.FrameComponent-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}
