.Popover,
.Popover-trigger {
  position: relative;
}

.Popover-content {
  display: block;
  position: absolute;

  text-align: center;

  border-radius: 15px;
  background: var(--base-color--background1);

  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  overflow: hidden;
  z-index: 1;
}
