.Message {
  display: flex;
  width: 300px;
  margin-top: 10px;

  background: var(--base-color--background1);

  box-shadow: inset 0 0 0 1px var(--base-color--shade);

  padding: 8px 12px 8px 15px;
  border-radius: 7px;

  box-sizing: border-box;

  align-items: center;
  justify-content: space-between;
}

.Message-body {
  margin-right: 10px;
}

.Message-actions {
  display: flex;
  height: 100%;
  margin-right: -3px;

  flex-shrink: 0;
  align-items: flex-start;
}

.Message-dismissBtn {
  width: 1.8em;
  height: 1.8em;

  background: none;

  border: none;
  border-radius: 5px;
}

.Message-dismissBtn:active {
  opacity: 0.5;
}

.Message-content--split {
  display: flex;
  align-items: center;
}

.Message-icon {
  width: 1.8em;
  height: 1.8em;
  margin-right: 10px;

  flex-shrink: 0;
}