.Notification {
  display: flex;
  width: 100%;

  box-sizing: border-box;
  justify-content: space-between;

  --color-warning: #FFDC8C;
}

.Notification-size--normal {
  padding: 1.1em 1.5em;
}

.Notification-size--small {
  padding: 0.8em 1.5em;
}

.Notification--warning {
  background-color: var(--color-warning);
}

.Notification--warning *,
.Notification--warning .Notification-hideBtn {
  color: black;
}