.Notification {
  display: flex;

  width: 100%;

  box-sizing: border-box;
  justify-content: space-between;

  border-radius: 10px;
  
  --color-text: var(--base-color);
  --color-background: var(--base-color--notificationBackground);

  background-color: var(--color-background);
  color: var(--color-text);

  -webkit-app-region: no-drag;
}

.Notification.is-transparent {
  background-color: color-mix(in srgb, var(--color-background) 25%, #00000000 100%);
}

.Notification--inline {
  position: relative;
  border-radius: 0;
}

.Notification--fixed {
  position: fixed;
  width: unset;

  left: 50%;
  top: 10px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, 0);

  z-index: 10;
}

.Notification-size--normal {
  padding: 0 0.5em 0 1.4em;
}

.Notification-size--small {
  padding: 0 0.4em 0 1em;
}

.Notification-content {
  display: flex;
  align-items: center;

  color: var(--color-text);
}

.Notification-size--normal .Notification-content {
  padding: 1.2em 0;
}

.Notification-size--small .Notification-content {
  padding: 0.8em 0;
}

.Notification-contentSection {
  margin-right: 10px;
}

.Notification-title {
  font-weight: 500;
}

.Notification-controls {
  display: flex;
  align-items: center;
}

.Notification--warning {
  --color-background: #ffd418;
}

.Notification--info {
  --color-background: var(--base-color--background2);
}

.Notification-hideBtn {
  color: var(--color-text);
}

.Notification-icon,
.Notification-icon .Icon {
  width: 1.5em;
  height: 1.5em;
}
