

.Notification {
  display: flex;
  width: 100%;

  box-sizing: border-box;
  justify-content: space-between;

  color: var(--base-color--notificationColor);
  background-color: var(--base-color--notificationBackground);

  --color-warning: #FFDC8C;
}

.Notification-size--normal {
  padding: 1.1em 1.5em;
}

.Notification-size--small {
  padding: 0.8em 1.5em;
}

.Notification-content {
  display: flex;
  align-content: center;
}

.Notification-contentSection {
  margin-right: 10px;
}

.Notification-title {
  font-weight: 500;
}

.Notification--warning {
  background-color: var(--color-warning);
}

.Notification--warning *,
.Notification--warning .Notification-hideBtn {
  color: black;
}