.Notification {
  display: flex;
  width: 100%;

  box-sizing: border-box;
  justify-content: space-between;

  color: var(--base-color--notificationColor);
  background-color: var(--base-color--notificationBackground);

  --color-warning: #FFDC8C;
}

.Notification-size--normal {
  padding: 0 0.7em 0 1.4em;
}

.Notification-size--small {
  padding: 0 0.4em 0 1em;
}

.Notification-content {
  display: flex;
  align-items: center;
}

.Notification-size--normal .Notification-content {
  padding: 1.2em 0;
}

.Notification-size--small .Notification-content {
  padding: 0.8em 0;
}

.Notification-contentSection {
  margin-right: 10px;
}

.Notification-title {
  font-weight: 500;
}

.Notification-controls {
  display: flex;
  align-items: center;
}

.Notification--warning {
  background-color: var(--color-warning);
}

.Notification--warning *,
.Notification--warning .Notification-hideBtn {
  color: black;
}