/*
 * SPDX-FileCopyrightText: 2022 Sveriges Television AB
 *
 * SPDX-License-Identifier: MIT
 */

.Grid {
  position: relative;
  width: 100%;
  height: 100%;

  flex-grow: 1;
}

.Grid-layout {
  width: 100%;
  height: 100%;
}

/*
Modify the color of the resize
handles to be more clearly visible

The class is otherwise controlled
by react-grid-layout
*/
.Grid .react-resizable-handle::after {
  border-color: var(--base-color);
}