.Grid {
  position: relative;
  width: 100%;
  height: 100%;

  flex-grow: 1;
}

.Grid-layout {
  width: 100%;
  height: 100%;
}

/*
Modify the color of the resize
handles to be more clearly visible

The class is otherwise controlled
by react-grid-layout
*/
.Grid .react-resizable-handle::after {
  border-color: var(--base-color);
}

/*
Disable transitions for
a more responsive app
*/
.Grid .react-grid-item {
  transition: none;
}

.Grid-item.is-changing {
  animation-name: Grid-item-is-changing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes Grid-item-is-changing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}