.PopupShortcut-actions {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.PopupShortcut-confirmAction {
  font-weight: 500;
}

.PopupShortcut-description {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;

  text-align: center;
  opacity: 0.5;
}
